<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Witaj {{ title }}!
  </h1>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/member" >Members</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="projects">Projects</a>
  </li>
</ul>

<router-outlet></router-outlet>



